@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root{
    --Cyan: hsl(179, 62%, 43%);
    --BrightYellow: hsl(71, 73%, 54%);
    --LightGray: hsl(204, 43%, 93%);
    --GrayishBlue: hsl(218, 22%, 67%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: center;
    background-color: var(--LightGray);
}

.singl-price-grid{
    margin: 10rem 0;
    display: grid;
    grid:'area-1 area-1';
    grid-auto-columns: 1fr;
    width: 100%;
    max-width: 600px;
    /*padding: 2.3rem;*/
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.item-1{
    grid-area: area-1;
}

.singl-price-grid h1{
    font-size: 1.35em;
    font-weight: 700;
    color: var(--Cyan);
    margin-bottom: 24px;
}

.singl-price-grid h2{
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.item-1 h2{
    color: var(--BrightYellow);
}

.singl-price-grid p{
    margin: 12px 0;
    letter-spacing: 0.027em;
    font-size: 14px;
    line-height: 1.5rem;
    opacity: 0.5;
}

.item-1,.item-2 ,.item-3{
    padding: 2.28rem;
    padding-bottom: 1.7rem;
}



.item-2{
    background-color: #2bb3b1;
    border-bottom-left-radius: 6px;
}
.item-2 h2{
    color: #fff;
    margin-bottom: 12px;
}
.price{
    font-size: 1.8em;
    font-weight: 700;
}
.flex{
    display: flex;
    align-items: center;
} 
.gap-12{
    gap: 12px;
}
.desc {
    margin-top: auto !important;
    opacity: 1 !important;
}


.item-3{
    background-color: #4abebd;
    border-bottom-right-radius: 6px;
}
.item-3 ul{
    margin: 20px 0;
}
.item-3 ul li{
    letter-spacing: 0.038em;
    font-size: 12px;
    font-weight: 100;
    list-style-type: none;
    margin-bottom: 0.31rem;
    /*opacity: 0.5;*/
}

.item-3, .item-2{
   color:#fff;
}

.singl-price-btn{
    width: 100%;
    border: 0;
    border-radius: 6px;
    background-color:var(--BrightYellow);
    padding: 15px 24px;
    margin: 12px 0;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Karla', sans-serif;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width:480px) {
    .singl-price-grid{
        margin: 10rem 2rem;
        display: grid;
        grid:'area-1'
        'area-2'
        'area-3';
        grid-auto-columns: 1fr;
        width: 100%;
        max-width: 370px;

    }

    .item-1{
        grid-area: area-1;
    }
    .item-2{
        grid-area: area-2;
        border-radius: 0;
    }
    .item-3{
        grid-area: area-3;
        border-bottom-left-radius: 6px;
    }


}